@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    :root {
        --background: #2b2b33; 
        --background-foreground: #f3f2f9;
        --primary-foreground: #aab2d1;
        --primary: #606887;
        --stroke-primary: #f3f2f9;
        --stroke-foreground: #606887;
    }
}

@layer base {
    body {
        @apply bg-background text-stroke-primary dark:text-stroke-primary-foreground;
    }

    #home .underline-link {
        @apply sm:text-left !text-center;
    }

    main .content-wrapper {
        @apply w-full h-full pt-24 md:pt-36 lg:pt-[15rem];
    }
}

@layer components {
    .heading-h1 {
        @apply text-4xl md:text-5xl lg:text-7xl font-extrabold text-stroke-primary dark:text-stroke-primary-foreground;
    }
    .heading-h2 {
        @apply text-2xl lg:text-5xl md:text-4xl font-extrabold;
    }
    .icons-style {
        @apply stroke-primary dark:stroke-primary-foreground;
        opacity: 1;
        fill: none;
        stroke-width: 2px;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-miterlimit: 10;
        display: block;
    }

    .stroke {
        @apply h-[1px] lg:h-[2px] bg-stroke-primary dark:bg-stroke-primary-foreground;
    }

    .underline-link .link-underline{
        @apply w-full relative stroke mt-1 origin-bottom-right -translate-x-[101%];
    }
    .underline-link .link {
        @apply lowercase font-thin text-base md:text-xl lg:text-3xl cursor-pointer;
    }
    .underline-link {
        @apply overflow-hidden relative pr-5;
    }
    
}